{% extends 'basic.html' %}
{% load static %}
{% block content %}

<style>
  /* Style inputs with type="text", select elements and textareas */
  input[type=text],
  select,
  textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 8px;
    /* Bottom margin */
    resize: vertical
      /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=email],
  select,
  textarea {
    width: 100%;
    /* Full width */
    padding: 12px;
    /* Some padding */
    border: 1px solid #ccc;
    /* Gray border */
    border-radius: 4px;
    /* Rounded borders */
    box-sizing: border-box;
    /* Make sure that padding and width stays in place */
    margin-top: 6px;
    /* Add a top margin */
    margin-bottom: 8px;
    /* Bottom margin */
    resize: vertical
      /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 200px;
    width: 86px;
  }

  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
    text-align: center;
  }

  /* Style the submit button with a specific background color etc */
  button[type=button] {
    position: relative;
    background-color: #045faa;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: -5px;
    margin-left: 0px;
    width: 86px;
    /* padding-left: 2px; */

  }

  /* When moving the mouse over the submit button, add a darker green color */
  button[type=button]:hover {
    background-color: #a04545;
    text-align: center;
  }

  /* Add a background color and some padding around the form */
  .maindiv {

    width: 100%;
    height: 700px;
    margin-left: 60px;
    margin-top: -15px;
    position: relative;
    /* margin-right: 20px; */
  }

  .maindiv .container {
    border-radius: 5px;
    background-color: #fafafa;
    padding: 20px;
    margin-top: 15px;
    width: 70%;
    height: 100%;
    float: left;
  }

  .maindiv .pictureAdded {
    width: 36%;
    height: 80%;
    float: left;
    border-radius: 5px;
    background-color: #fffbfb;
    padding: 20px;
    margin-top: 60px;
    margin-left: -15px;
  }

  .img2 {
    position: relative;
    float: left;
    width: 111.2%;
    height: 107.7%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: -20px;
    margin-top: -20px;
  }
</style>
<div class="maindiv">
  <!-- {%if m_name %}
  <center>
    <h2>
      Thanks{{m_name}}!
    </h2>
    <p>We recieved your email and will respond Shortly</p>
  </center> -->
  <!-- {% endif %} -->
  <!-- <div class="pictureAdded">
    <img alt="admin" src="{% static 'homepage/contactus.jpg' %}" style="border-radius: 5px;" class="img2">
  </div> -->

  <div class="container" style="background-color:#1b405a;">
    <form action="{% url 'prescription' %} " method="post">
      {% csrf_token %}
     
      <label for="fname"></label>
      <input type="text" id="fname" name="Patient_name" placeholder="Patient Name" style="letter-spacing: 1px;" required>


      <label for="fname"></label>
      <input type="text" id="fname" name="patient_age" placeholder="Patient Age" style="letter-spacing: 1px;" required>
   
      <label for="fname"></label>
      <input type="text" id="fname" name="medicine" placeholder="Medicine" style="letter-spacing: 1px;" required>
    
      <label for="fname"></label>
      <input type="text" id="fname" name="date_added" placeholder="prescription Date " style="letter-spacing: 1px;" required>

      <label for="fname"></label>
      <input type="text" id="fname" name="doc_name" placeholder="Doctor Name" style="letter-spacing: 1px;" required>

      <label for="fname"></label>
      <input type="text" id="fname" name="patient_disease" placeholder="Disease Name" style="letter-spacing: 1px;" required>

      <label for="subject"></label>
      <input type="text" id="subject" name="advice" placeholder="Write some advice for patient" style="letter-spacing: 1px;" required>

     
      <input type="submit" style="text-align: left; margin-left: 0px;" value="Submit">

      <a href="{% url 'dconsultation_history' %}"><button type="button" class="btn btn-primary">
          Back</button></a>
        
    </form>
  </div>
</div>
{% endblock%}